@media(max-width: 700px){
     .showcase{
          height: 70vh;

          .container {
               nav h1{
                    font-size: 16px;
               }
          }

          &-content{
               text-align: center;

               h1{
                    font-size: 32px;
               }

               img {
                    display: none;
               }
          }
     }
}